<div class="topnav" id="myTopnav">
  <a href="javascript:void(0);" class="active" onclick="reload()">{{title}}</a>
{{#if loggedIn}}
  <a {{#if atProfile}}class="active" {{/if}}href="/">Felhasználó</a>
  <a {{#if atSend}}class="active" {{/if}}href="/send">Üzenetküldés</a>
  <a {{#if atMessages}}class="active" {{/if}}href="/messages">Elküldött üzenetek</a>
  <a href="/logout">Kijelentkezés</a>
{{else}}
  <a {{#if atLogin}}class="active" {{/if}}href="/login">Bejelentkezés</a>
  <a {{#if atRegister}}class="active" {{/if}}href="/register">Regisztráció</a>
{{/if}}
  <a href="https://github.com/szabolevi98/NodeJS-Passport-Template" class="github" target="_blank">GitHub</a>
  <a href="javascript:void(0);" class="icon" onclick="responsive()"><i class="fa fa-bars"></i></a>
</div>
