<h1>Üdvözöllek {{name}}!</h1>
{{>avatar}}
<div class="user">
    <ul>
        <li><b>Felhasználóneved:</b> {{name}}</li>
        <li><b>Email címed:</b> {{email}}</li>
        <li><b>Regisztráltál:</b> {{date}}</li>
    </ul>
</div>
