<h1>{{title}}</h1>
{{>avatar}}
{{#ifEquals messages.error "no_user" }}
<p>A megadott email címmel nem található felhasználó!</p>
{{/ifEquals}}
{{#ifEquals messages.error "wrong_pw" }}
<p>A megadott jelszó hibás!</p>
{{/ifEquals}}
<form action="/login" method="POST">
  <div class="container">
    <input type="email" id="email" name="email"{{#if email}} value="{{email}}"{{/if}} placeholder="Email..." required />
    <input type="password" id="password" name="password" placeholder="Jelszó..." required />
    <input type="submit" value="Bejelentkezés" />
  </div>
</form>
{{#if success}}
<script src="/script/login.js"></script>
{{/if}}
